@font-face {
    font-family: Gotham;
    src: url(Gotham-Book.otf);
}

*{
	font-family: Gotham;
	margin: 0px;
}

a {
	text-decoration: none;
}

p{
	margin: 15px;
}

div#navigation {
	position: fixed;
	word-spacing: 100px;
	background-color:rgba(0, 0, 0, 0.72); 
	width: 100%;
	top: 0px;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
	box-shadow: 0px -2px 13px black;
}
div#navigation2 {
	position: fixed;
	word-spacing: 100px;
	background-color: white;
	width: 100%;
	margin-top: -60px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: black solid 2px;
}
.white{
	color: white;
}

.subtitleTop{
	font-size: 24pt;
	background: -webkit-linear-gradient(rgba(125, 125, 125, 1), #000000);
	-webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}
.subtitleBottom{
	font-size: 24pt;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 1), #ababab);
	-webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}

 h1 {
	 font-size: 40pt;
	   	font-weight: bold;
	   	text-align: center;
	   	color: rgb(110, 157, 255);
	   	padding-left: 10px;
	   	margin-top: 60px;
	   	background-size: 10px 40px;
	 	background: -webkit-linear-gradient(rgba(98, 198, 255, 1), #2e88ff);
	 -webkit-background-clip: text;
	   -webkit-text-fill-color: transparent;
}

h2{
	font-size:12pt;
	text-align:center;
}

ul#skills1{
	position: relative;
	width: 70px;
}

ul#skills2{
	position: relative;
	width: 30%;
	left: 33%;
	top: -58px;
}
ul#skills3{
	position: relative;
	width: 30%;
	left: 66%;
	top: -115px;
}

h3#LinkedIn.linksSubtitle{
	position: relative;
	margin-top: 60px;
}
h3#Camras.linksSubtitle{
	position: relative;
	margin-top: 60px;
}
h3#Download.linksSubtitle{
	position: relative;
	margin-top: 60px;
}

h4{
	font-size: 12pt;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 10px;
	color: black;
}
h4.first{
	font-size: 12pt;
	margin-left: 15px;
	margin-bottom: 10px;
}
p#references{
	font-style: italic;
}

div.top{
	box-shadow: -2px -2px 20px black;
	z-index: 1;
	padding: 20px;
	background: -webkit-linear-gradient(white, rgb(227, 225, 229));
	background: -o-linear-gradient(white, rgb(227, 225, 229)); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(white, rgb(227, 225, 229)); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(white, rgb(227, 225, 229));
}
div.bottom{
	background: rgb(123, 123, 123);
	box-shadow: inset -2px -2px 20px black;
	padding: 20px;
	z-index: 0;
	color: white;
}

div#first{
	margin-top: 50px;
	box-shadow: -2px -2px 20px black;
	z-index: 1;
	padding-top: 20px;
	padding-bottom: 20px;
	background: -webkit-linear-gradient(white, rgb(227, 225, 229));
	background: -o-linear-gradient(white, rgb(227, 225, 229)); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(white, rgb(227, 225, 229)); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(white, rgb(227, 225, 229));
}

#name, #email{
	margin-top: 20px;
	width: 150pt;
	height: 15pt;
}
#message{
	margin-top: 20px;
}
input #submit{
	margin-top: 70px;
	width: 150pt;
	height: 15pt;
}

